body{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;	
    background-image: url("../img/fundoForm2.jpg");
}
h1{
    /* background-color:rgba(72,72,72,0.4); */
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
    height: 20px;
    float: none;
    position: relative;
    margin-top:1000px;
    /* margin-left: -260px; */
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #334455;
    text-align: center;
    margin: 10px;
    background-image: url("../img/fundoForm2.jpg");

}
p{
    color: #334455;
    margin: 0px;
    background-color: #eee;
    /* padding-left:20px; */
    /* padding-right:0px; */
    padding-top:10px;
    padding-bottom:10px;
    /* width: 450xpx; */
    width: 100%;
    float: none;
    left: 0%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #334455;
    text-align: center;
    margin: 10px;

}
input	{
    margin-left: 10%;
}
legend	{
    text-align: center;
    color: #334455;
}
div		{
    margin-left:0%;
}
.botao .limpar{
    margin: 6px;
}
fieldset{
    position: absolute;
    right: 20%;
    left: 20%;
    background-color: white;
}
.a{
    background-image: url("../img/fundoForm2.jpg");
}

.voltar-ao-topo {
    position: fixed;
    bottom: 28.62em;
    left: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 1em;
    padding-left: 10px;
    padding-right: 10px;
}
.voltar-ao-topo:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border:2px solid;
}
img{
    float: left;
    padding-left: 3px;
    padding-right: 10px;
}