a:hover{
		width: 200px;
		padding: 3px;
		text-decoration: underline;
}
td{
		width: 200px;
		padding: 3px;
		color: gray;
		background-color: ghostwhite;
}
td:hover {
		background-color: grey;
		color: white;
}
a{
		text-decoration: none;
}	
article{
	background-image: url('img/fundo1.jpg');
}