body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
margemLogo{
    left: 200px;
}
