*{margin:0;padding:0;}

body{
    margin: 0;
    padding: 0;
    font: small-caps bold 14px "Palatino", sans-serif;
    min-width:500px;
}

/*fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Box 1ffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

#box1{
    height: 100vh;
    width: 100%;
    background-image: url(img/fundo4.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    font: small-caps bold 14px "Palatino", sans-serif;
}

/*responsive*/
@media screen and (max-width:500x) {#box1 li {min-width:50px;}}
@media screen and (max-width: 123em) {
    #textoIftm {
        width: 33.3%;
    }
}

@media screen and (max-width: 456em) {
    #textoIftm {
        width: 50%;
    }
}

@media screen and (max-width: 789em) {
    #textoIftm {
        width: 100%;
    }
}
/*fim da formatação da caixa um que tem o menu*/

#box1 nav {
    width:100%;
    margin-top:3%;
    border-bottom:2px solid #A61936;
    border-top:2px solid #A61936;
}
#box1 ul {
    list-style:none;
    background:#E5E5E5;
    margin:0 auto;
    text-align:center;
}
#box1 li {
    display:inline-block;
    position:relative;
    min-width:140px;
    transition:all 400ms linear;
}
#box1 nav>ul>li:hover:after,nav>ul>li.visited:after {
    display:block;
    content:"";
    width:0;
    height:0;
    position:absolute;
    left:50%;
    bottom:0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #A61936;
    margin-left: -10px;
}
#box1 li>a {
    text-decoration:none;
    display:block;
    color:#404040;
    text-transform:uppercase;
    font-weight:700;
    padding:20px 25px;
}
#box1 ul li:hover ul {
    display:block;
}
#box1 ul ul {
    display:none;
    position:absolute;
    top:59px;
    left:0;
}
#box1 ul ul li:hover {
    background:#A61936;
}
#box1 ul ul li:hover>a {color:#E5E5E5;}
#box1 ul ul li:nth-child(1) {border-top:2px solid #A61936;}
#box1 ul ul a {
    text-transform:lowercase;
    padding:15px;
}
#box1 ul ul ul {
    position:absolute;
    left:120px;
    top:0;
    display:none !important;
}
#box1 ul ul>li:hover ul {
    display:block !important;
}
#box1 ul ul ul li {border-top:0 !important;}

#banner{
    clear: both;
    width: 30%;
    height: 20%;
    color: white;
    animation: banner 16s infinite;
    margin-bottom: 0px;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 3px;
}
@Keyframes banner{
    0%, 30%{
        background-image: url(img/iftmlogo.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 1;

    }
    31%,34%{
        opacity: 0.1;        
    }
    35%, 65%{
        background-image: url(img/silogo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 1;
    }
    66%,69%{
        opacity: 0.1;        
    }
    70%, 95%{
        background-image: url(img/img1.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 1;
    }
    96%, 100%{
        opacity: 0.1;
    }
}
#infoCurso{
    margin-top: 20px;
    height: 50%;
    width: 60%;
    float: right;
    font-family: monospace;
    font: small-caps bold 16px "Palatino", sans-serif;
    overflow: auto;
    float: right;
    text-align: justify;
    margin-right: 10px;
    background-image: linear-gradient(to left,white,lightgrey);
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    border-radius: 3px;

    
}
#infoCurso article p{
    margin-top: 10px;
    text-indent: initial;
    text-decoration: none;
    color: black;
    font-weight: 100;
}


/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff FIM DO Box 1  ffffffffffffffffffffff     Fim do box 1
fffffffffffffffffffffffffffffffffffffffffffffffffffffff   
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/


/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Box 2 ffffffffffffffffffffffffffffff    Início box2
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/


/* Definindo os vídeos */


/* Aqui se mexe nos vídeos do youtube */

.iconVid{
    width: 20px; 
    height: 20px;
    padding-top: 2px;
    padding-left: 2%;
}

#box2{
    height: 70vh;
    width: 100%;
    /*background-image: url(img/fundo1.jpeg);*/
    background-image: linear-gradient(to right,grey,white);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color: brown;
}

fieldset{
    border-color: transparent;
    color: black;
    font-weight: 100;
}
#box2 iframe{
    border-radius: 8%;
}

fieldset a:link{
    text-decoration: none;
}
fieldset a:visited{
}
fieldset a:hover{
    color: activecaption;
}


/* Parte da sanfona dos videos */

.sanfona{
    width:100%;
    margin:0 auto;
}

/* tira a caixinha do checkbox */
.sanfona-item input{display: none;}

[id^=sanfona]:checked ~ .conteudo-sanfona{
    height: auto;
}

.sanfona-item label{
    display:block;
    /*border:1px solid #ccc;*/
    background: threedshadow;
    cursor:pointer;
    color: activeborder;
    text-align: center;
    width: 100%;
    height: 30px;
    text-decoration: background;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    text-justify: inter-word;
    /*font-variant: small-caps;*/

}
#box2 label{
    color: black;
    font-weight: 100;
    
}
.conteudo-sanfona{
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

.s1{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.s2,.s3,.s4,.s5,.s6{
    margin-bottom: 30px;
    overflow: hidden;
}
[id^=sanfona]{
    overflow: hidden;
}
[id^=sanfona]:checked ~ .conteudo-sanfona{
    height: auto;
}
#tituloVideos{
    color: black;
    font-weight: 100;
    text-align: center;
    background-color: lightgrey;
    width: 100%;
    height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0.1px solid #A61936
}

/* Aqui se mexe nos vídeos de arquitetura */
#box2 .menuVideo1{
    margin-top: 5px;
    width:45%;
    float: left;
}

#box2 .menuVideo2{
    margin-top: 5px;
    float: right;
    width: 45%;
}

.dentro1{
    padding: 2% 15% 5% 15%;
    margin-left: 12%;
}
.dentro2{
    padding: 2% 15% 5% 15%;
    margin-right: 12%;
}

/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Fim do Box 2 fffffffffffffffffffffff    Fim box 2
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Box 3 ffffffffffffffffffffffffffffff     Início box 3
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

#box3 fieldset{
    height: 200px;
    width: 300px;
    visibility: hidden;
    border-color: transparent;
} 

#box3{
    height: 100vh;
    width: 100%;
    background-image: url(img/fundo7.jpeg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.w3-container{
    text-align: center;
    position: relative;
    padding-top: 3%;
    /* font-family: 'Lato', serif; */
    font-size:1.5em;
}/* alteração no container do modal */

#btcomentarios{
    padding: 1%;
    border: 0em;
    font-size: 50%;
    text-decoration: none;
    background-color: #A61936;
    color: #E5E5E5;
    text-align: center;
    border-radius: 1em 1em 1em 1em;
    margin: 0em 0em 0.3em 0em;
    font-weight:bold;
    font: small-caps bold 14px "Palatino", sans-serif;
}

/* BOTÃO LINK PARA FORMULÁRIO */
.botao a{
	padding: 1%;
	/* border: 0em; */
	/* font-size: 50%; */
	text-decoration: none;
	/* background-color: #A61936; */
	/* color: #E5E5E5; */
	text-align: center;
	border-radius: 1em 1em 1em 1em;
	margin: 0em 0em 0.3em 0em;
	font-weight:bold;
}
.botao:hover{
	color: #A61936;
	background-color: #e5e5e5;
}

.botao{
    padding: 1%;
    border: 0em;
    font-size: 50%;
    text-decoration: none;
    background-color: #A61936;
    color: #E5E5E5;
    text-align: center;
    border-radius: 1em 1em 1em 1em;
    margin: 0em 0em 0.3em 0em;
    font-weight:bold;
    font: small-caps bold 14px "Palatino", sans-serif;
}

#box3 p{
    color: whitesmoke;
}
#box3 #boxOp{
    border: 0.5px solid white;
    margin-left: 25%;
    margin-right: 25%;
    overflow: auto;
}
#box3 #p1{
    margin-bottom: 10px;
}

/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Fim Box 3 ffffffffffffffffffffffffff     Fim box 3
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/


/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff boxmeio ffffffffffffffffffffffffffff     Fim boxmeio
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

.titulos{
	text-align: center;
    width: 100%;
    background-color: #e5e5e5;
	color: #404040;
	font: small-caps bold 14px "Palatino", sans-serif;
    font-size:1em;
	text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 5%;
	padding-bottom: 5%;
}


/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Box 4 ffffffffffffffffffffffffffffff     Início box 4
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

/********* QUEM SOMOS: ********* caixa com imagem e texto dos desenvolvedores*/
#quadroqs{ /* Caixa maior */
    clear: both;
    /* display:block; */
    /* float: left; */
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
    padding: 0;
    float: left;
}

/* #quadroqs2{ */
    /* float: left; */
    /* display:block; */
    /* float: left; */
    /* width: 30%; */
/* } */
#box4 img { 
    margin: 0;
    padding: 0;
    width:100%;
}
#box4 p{
    /* margin: 20px; */
    font-size: 1.2em;
    text-align: center;
    color: #404040;
}/* altera fonto de paragrafo */

#texto p{
    font: small-caps bold 15px "Arial Black", sans-serif;
}

.quadroqs p{ 
    text-align: center;
}/*textos*/

.qs{ 
    /* margin: 1em 1em 1em 1em; */
    padding: 0;
	margin:0;
    height:10%;
    width: 20%;
    position: relative;
    overflow: hidden;  
    float: left;
}/*caixa com as imagens*/

.qs img{
    transform: all .5s ease-in-out;
    /* width: 100%; */
}/*efeito na imagem*/

.qs:hover img{
    transition-delay: .12s;
    transform: scale(1.3) rotate(-20deg);
}/*efeito hover na imagem */

.caixaQS{
    margin: 0;
    padding: 0px;
    height: 20%;
    width: 20%;
    background-color: rgba(0,0,0,.3);
    transition: all .5s ease-in-out;
    transition-delay: .3s;
    /* position: relative; */
}/*caixa cinza que aparece sobre a foto */

.qs:hover .caixaQS{
    transform: translateY(-250px);	
}/* */


.textoQS{
    height: 25%;
    width: 100%	;
    background-color: activeborder;
    font-family: arial black;
    /* line-height: 2em; */
    text-align: center;
    position: absolute;
    transition: all .18s ease-in-out;
	padding: 5%;
}/*texto que aparece com o nome dos desenvolvedores*/

.qs:hover .textoQS{
    transition-delay: .3s;
    transform: translateY(-3em);
}/*hover do nome. Aqui faz o nome aparecer na tela*/

.icones{
    height: 3%;
    width: 20%;
    padding:5%;
    position: absolute;
    top: 18em;
    left: 0em;
    transition: all .1s ease-in-out;
}
.qs:hover .icones{
    transition-delay: .2s;
    transform: translateX(-12em);
    transform: translateY(-16em);	
    /* margin: 0; */
    transition: all .1s ease-in-out;
}
.qs:hover .icones img{
    transition-delay: .15s;
    transform: scale(1.3);}
	/* ALTERAÇÃO NO QUEM SOMOS FIM */

#box4{
    height: 100vh;
    width: 100%;
    background-image: url(img/fundo7.jpeg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
	color: #343434;
	padding-bottom: 40%;
}

#texto{
    background-color: rgba(0,0,0,0.3);
	margin: 0%;
	padding: 0;	
	
}
/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Fim Box 4 ffffffffffffffffffffffffff     Fim box 4
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Box 5 ffffffffffffffffffffffffffffff     box 5
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

#box5{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right,grey,white);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color: #e5e5e5;  
}

#box5 a:visited {
    color: white;

}
#box5 ul{
    list-style-type: circle;
    size: 2px;
}
#box5 a{
    list-style-type: circle;
}

#box5 a:hover {
    color: lightgray;
}

#box5 div{
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
}

/*fffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffff Fim da Box 5 fffffffffffffffffffffff     Fim da box 5
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

/* criando o icone de voltar ao topo */
.voltar-ao-topo {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: lightblue;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
    padding: 1em;
}
.voltar-ao-topo:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border:2px solid;
    /* fim da formatação do icone de voltar ao topo */   

/* aqui é o nosso Footer */


/*toda a formatação da caixa um que tem o menu*/
/* fim do Footer */